

<!-- <div *ngFor="let item of alphas | keyvalue">
  <div *ngFor="let val of item.value | keyvalue">
   {{val.key}}
  </div>
</div>

<div *ngFor="let item of alphas | keyvalue">
  <div *ngFor="let val of item.value | keyvalue">
   {{val.value}}
  </div>
</div> -->

<table class="table table-striped" style="border: solid 2px;">
  <thead>
    <tr >
      <th  *ngFor="let UIitem of UIKeys"> {{UIitem}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of alphas | keyvalue">
      <td *ngFor="let val of item.value | keyvalue">{{val.value}}</td>
      <td style="display: flex;">
        <button style="margin-right: 1rem; margin-top: 0.5rem;" type="button" class="btn btn-warning" (click)="toggle(item.value)">Edit</button>
       <div *ngIf="roleBoolean" style="margin: 0.5rem; margin-left: 0px;">
        <button  style="margin-right: 7px;"type="button" class="btn btn-success">Approve</button>
        <button style="margin-right: 7px;"type="button" class="btn btn-danger" >Reject</button>
      </div>
        <button  type="button" class="btn btn-info" style="margin-top: 0.5rem;" (click)="deleteData(item.value)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<br><br><br><br>


<form *ngIf="display" id="Parent" (ngSubmit)="onUpdate(f1)" #f1="ngForm" style="border: solid 2px; padding: 20px;">
  <h1 style="font-weight: bold; color: brown;">Update your Information</h1> <br><br>
  <div class="form-group" *ngFor="let data of UIKeys; let user of individualUser|keyvalue" >
    <label >{{data.key}}</label>
  <input id="{{data.key}}" class="form-control" value="{{data.value}}">
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>

