button{
    
    height: 3.35rem;
    width: 8rem;
}
.hideElement{
    display: none;
}
.showElement{
    display: inline;
}
.success1{
    font-weight: bold;
    color: green;
}
.reject{
    font-weight: bold;
    color: red;
}
.btn-disable
{
cursor: not-allowed;
pointer-events: none;

/*Button disabled - CSS color class*/
color: #c0c0c0;
background-color: #ffffff;

}
