<div class="container">
  <div class="row">
    <div class=" float-left" style="margin: 2.5rem;" >
      <ul class="nav nav-tabs">
        <li  role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Home</a></li>
        <li *ngIf="isUserAuthenticated()" role="presentation"routerLinkActive="active" ><a routerLink="/water-supply">Water Supply Registration Form</a></li>
        <li *ngIf="isUserAuthenticated()"role="presentation"routerLinkActive="active" ><a routerLink="/birth-certificate">Birth Certificate Form</a></li>
        <li *ngIf="isUserAuthenticated()"role="presentation"routerLinkActive="active" ><a routerLink="/house-Permit">House Development Form</a></li>
        <li *ngIf="isUserAuthenticated()"role="presentation"routerLinkActive="active" ><a routerLink="/Show-Application">Show All Requests</a></li>

      </ul>
    </div>
  </div>

<hr>

  <router-outlet></router-outlet>
  <lib-ng-toast></lib-ng-toast>
</div>
