@model Assignment.Web.API.Models.NotificationModelNew


<h1>Index</h1>

<h4>NotificationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="ServerSide" asp-action="Index">
        <table>
            <tr>
                <td>Notification Title </td>
                
                <td><input type="text" id="m" name="title"/></td>
            </tr>

            <br/>

            <tr>
                <td>Notification Body </td>
                
                <td><input type="text" id="m" name="body"/></td>
            </tr>

            <tr>
                <td>Notification BigImage </td>
                
                <td><input type="text" id="m" name="bigImage"/></td>
            </tr>

            <tr>
                <td>Notification LargeImage </td>
                
                <td><input type="text" id="m" name="largeImage"/></td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
        <hr/>
    </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
